# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/HEngine/HEngine/.vs/HEngine
/HDirect
/HEngine/HDirect/.vs/HDirect
/HEngine/HHH/.vs/HHH/copilot-chat/1ce7adca/sessions
/HEngine/HHH/.vs/HHH/CopilotIndices/17.13.431.34963
/HEngine/HHH/.vs/HHH
/HEngine/HHH/Bin/x64/Debug/EngineHelper
/HEngine/HHH/Bin/x64/Debug
/HEngine/HHH/2020.3.7/samples
